<h1 class= "heading">Delivered Orders</h1>

<div class="links-container">
    <%= link_to "Place Order", orders_path, class: "btn btn-outline-dark mr-20" %>
    <%= link_to "Active Order", "/user/orders", class: "btn btn-outline-dark mr-20" %>
</div>

<% if Order.get_users_completed_order_ids(@current_user.id) == [] %>
  <h2> No Order Have Been Completed Yet ! </h2>
<% end %>

<% if Order.get_users_completed_order_ids(@current_user.id) != [] %>
  <% Order.get_users_completed_order_ids(@current_user.id).each do |id| %>

    <%= render partial: "user-completed-order",
               locals: { cart_data: Order.find(id).order_items } %>
    
    <div class='flex my-20'>
        <p class='mr-20'>Total Items: <%= Order.get_total_items_count(id) %></p>
        <p class='mr-20'>Total Price: <%= Order.get_total_items_price(id) %></p>
    </div>
  <% end %>
<% end %>
